/* Globals */
a,a:focus,a:hover{color:blue;}
html,body{height:100%;background-color: whitesmoke;}/*#E91E63*/
body{color:#585858;text-align:center;}
.hide{display:none;}
.landing-heading{font-family:'Source Code Pro',monospace;font-weight:400;}

/* Buttons */
.btn{font-family:'Source Code Pro',monospace;padding:0.5625rem 2.5rem;font-size:0.8125rem;font-weight:400;line-height:1.75rem;border-radius:0!important;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.btn-lg{font-size:0.875rem;padding:0.6875rem 3.4375rem;line-height:1.75rem;}
.btn:focus,.btn:active:focus,.btn.active:focus{outline:none;}
.btn-primary{background-color:#270F34;border:1px solid #270F34;}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active{color:#fff;border:1px solid #2C96FF;background-color:#2C96FF;}

/*Avatar main*/
.avatarMain{width:150px;height:150px;}

/* Avatar search*/
.avatar{
    width:100px;
    height:100px;
    
}

/* Glow effects */
.glow{
    transition: box-shadow 0.5s ease;
}
.glow:hover{
    box-shadow: 0px 5px 20px 0px #2C96FF;
}


/* Home button */
.btn-home-hello{position:absolute;font-family:'Source Code Pro',monospace;font-size:11px;font-weight:400;color:rgba(255,255,255,0.85);top:15px;left:15px;padding:3px 20px;background-color:rgba(255,255,255,0.15);border-radius:6px;-webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);-moz-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);}

/* Login screen */
.loginScreen {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }
/* Main screen */
.credentialsContainer{
    background-color: white; 
    padding: 20px;
    box-shadow: 0px 5px 20px 0px rgb(126, 151, 177);
}


